services:
  api:
    hostname: api.tsa.localdev.me
    build:
      context: ../
      dockerfile: api/Tsa.Submissions.Coding.WebApi/Dockerfile
    ports:
      - "5000:8080"  # HTTP port
      - "4024:4024"  # Debug port
    environment:
      ASPNETCORE_ENVIRONMENT: 'Development'
      ASPNETCORE_HTTP_PORTS: 8080
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
    networks:
      - backend
    depends_on:
      - mongodb
      - rabbitmq
      - redis

  ui:
    build:
      context: ../ui
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    environment:
      API_URL: http://api:8080
    depends_on:
      - api
    networks:
      - backend
