name: API Build

on:
  push:
    paths:
      - 'api/**'
      - '.github/workflows/api-build.yml'

  workflow_dispatch:

env:
  DOTNET_VERSION: '9.0.x'
  IMAGE_NAME: ${{ github.repository }}/api
  REGISTRY: ghcr.io
  SOLUTION_PATH: 'api/Tsa.Submissions.Coding.sln'
  UNIT_TEST_PROJECT_FILE: 'Tsa.Submissions.Coding.UnitTests.csproj'
  UNIT_TEST_PROJECT_FOLDER: 'api/Tsa.Submissions.Coding.UnitTests'
  PUBLISH_PROJECT_FILE: 'Tsa.Submissions.Coding.WebApi.csproj'
  PUBLISH_PROJECT_FOLDER: 'api/Tsa.Submissions.Coding.WebApi'

jobs:
  gitVersionJob:
    name: CI - GitVersion Workflow
    uses: webstorm-tech/workflows/.github/workflows/gitversion-workflow.yml@v5

  verifyCodeStyleJob:
    name: CI - Verify Code Style Workflow
    uses: webstorm-tech/workflows/.github/workflows/dotnet-verify-code-style-workflow.yml@v5
    with:
      dotnetVersion: ${{ env.DOTNET_VERSION }}
      runner: windows-latest
      solutionFile: ${{ env.SOLUTION_PATH }}

  buildApplicationJob:
    name: CI - Build Workflow
    needs: gitVersionJob
    uses: webstorm-tech/workflows/.github/workflows/dotnet-build-app-workflow.yml@v5
    with:
      artifactName: web-api
      dotnetVersion: ${{ env.DOTNET_VERSION }}
      semVer: ${{ needs.gitVersionJob.outputs.semVer }}
      sendToCodecov: true
      solutionFile: ${{ env.SOLUTION_PATH }}
      unitTestProjectFile: ${{ env.UNIT_TEST_PROJECT_FILE }}
      unitTestProjectFolder: ${{ env.UNIT_TEST_PROJECT_FOLDER }}
      publishProjectFile: ${{ env.PUBLISH_PROJECT_FILE }}
      publishProjectFolder: ${{ env.PUBLISH_PROJECT_FOLDER }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  buildDockerContainerJob:
    name: CI - Build Docker Container
    needs: [gitVersionJob, buildApplicationJob]
    uses: webstorm-tech/workflows/.github/workflows/docker-build-container-workflow.yml@v5
    with:
      dockerfile: ${{ env.PUBLISH_PROJECT_FOLDER }}/Dockerfile
      dockerNamespace: tsa/submissions/coding/api
      dockerRegistry: ghcr.io
      dockerRepository: tj-cappelletti
      dockerWorkingDirectory: src/
      majorVersion: ${{ needs.gitVersionJob.outputs.majorReleaseLabel }}
      majorMinorVersion: ${{ needs.gitVersionJob.outputs.majorMinorReleaseLabel }}
      pushContainerImage: ${{ github.event_name != 'pull_request' }}
      semVer: ${{ needs.gitVersionJob.outputs.semVer }}
    secrets:
      REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  tagRepositoryJob:
    name: CI - Tag Repository
    if: github.ref == 'refs/heads/main'
    needs: [gitVersionJob]
    uses: webstorm-tech/workflows/.github/workflows/github-tag-repo-workflow.yml@v5
    with:
      semVer: ${{ needs.gitVersionJob.outputs.semVer }}
